spring:
     cloud:
          gateway:
               routes:
                    - id: users-service
                      uri: http://localhost:9083
                      predicates:
                           - Path=/api/users/**
                      filters:
                           - name: CircuitBreaker
                             args:
                                  name: usersCircuitBreaker
                                  fallbackUri: forward:/fallback/users

logging:
     level:
          pe.edu.vallegrande.sigei.gateway: DEBUG
          org.springframework.cloud.gateway: DEBUG
          org.springframework.security: DEBUG
